{% extends 'studentpage/main.html' %}
{% block content %}
<div class="col-sm-12">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="card text-center col-12">
            <div class="card-header">
                CHANGE PASSWORD
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="password" placeholder="Current password" class="form-control my-2" name="pass0" required>
                    <input type="password" placeholder="New password" class="form-control my-2" name="pass1" required>
                    <input type="password" placeholder="Confirm new password" class="form-control my-2" name="pass2" required>
                    <button class="btn btn-dark btn-block" type="submit">Change password</button>
                </form>
                
                <!-- <div class="card-footer text-muted">
                    <small>GREEN PARK ACADEMY STUDENT PORTAL</small>
                </div> -->
            </div>
      </div>
    </div>
  </div>
{% endblock content %}