{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DEMO - Forget Password</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'studentpage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'studentpage/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">

</head>

<body>

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-8 col-lg-10 col-md-8 col-sm-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            {% comment %} <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> {% endcomment %}
                            <div class="col-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="{% static 'frontpage/images/wide.png' %}" alt="" width="50%" class="img-fluid">
                                        <hr>
                                        <h1 class="h4 text-gray-900 mb-4">{{config.school_initial}} PASSWORD RECOVERY</h1>
                                        <hr>
                                    </div>
                                    <div class="alert alert-info"><strong>
                                        if your request is successful, the password will be reset to <span class="text-danger">student</span>.<br>Remember to change the password after login.
                                    </strong></div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="">Enter registration number</label>
                                            <input required type="text" name="reg" class="form-control" placeholder="DEMOXXXXXX" id="">
                                        </div>

                                        <div class="form-group">
                                            <label for="">Select your day of birth</label>
                                            <select required name="day" id="" class="form-control">
                                                <option value="" disabled selected>--Select day of birth--</option>
                                                {% for day in days %}
                                                <option value="{{day}}">{{day}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Select your month of birth</label>
                                            <select required name="month" id="" class="form-control">
                                                <option value="" disabled selected>--Select month of birth--</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="">Select your year of birth</label>
                                            <select required name="year" id="" class="form-control">
                                                <option value="" disabled selected>--Select year of birth--</option>
                                                {% for year in years %}
                                                <option value="{{year}}">{{year}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block font-weight-bold">
                                            RESET PASSWORD
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a href="{% url 'signin' %}" class="font-weight-bold">Return to login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'studentpage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script>
        $(function(){
            toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "6000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        {% if messages %}
        {% for message in messages %}
            toastr.{{ message.tags }}("{{ message }}")
        {% endfor %}
        {% endif %}

        });
    </script>
    <script src="{% static 'studentpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'studentpage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'studentpage/js/sb-admin-2.min.js' %}"></script>

</body>

</html>