{% extends 'lms/main.html' %}
{% block content %}
<div class="pagetitle">
    <h1>Create session</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'session' %}">session</a></li>
        <li class="breadcrumb-item active">create session</li>
      </ol>
    </nav>
</div><!-- End Page Title -->
<div>
    <h3 class="text-center">Manage Session</h3>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <select name="session" class="form-select" required aria-label="Default select example">
                                <option value="">--Select session--</option>
                                <option value="2023/2024">2023/2024</option>
                                <option value="2024/2025">2024/2025</option>
                                <option value="2025/2026">2025/2026</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select name="year" class="form-select" required aria-label="Default select example">
                                <option value="">--Select year--</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#info">
                            Create
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="info">
                            <div class="modal-dialog">
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title"><strong>WARNING</strong></h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <h5>Proceeding with this action will trigger the following:</h5>
                                        <ol>
                                            <li>End and deactivate result computation</li>
                                            <li>Start registration</li>
                                            <li>Resume switching term and session</li>
                                            <li>Increment student class by 1</li>
                                            <li>Graduate SS3 students</li>
                                            <li class="text-danger">Pls do not interrupt while the process is going on</li>
                                        </ol>
                                    </div>
                            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <button name="submit" type="submit" class="btn btn-block btn-primary">Proceed</button>
                                        </form>
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </section>
</div>
{% endblock content %}