{% extends 'lms/main.html' %}
{% block content %}
<section class="section register d-flex flex-column align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 d-flex flex-column align-items-center justify-content-center">

            <!-- <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
            </div> -->
          <!-- End Logo -->

            <div>
                <h5 class="card-title text-center pb-0 fs-4">Create payment for student</h5>
                <p class="text-center small">Enter your personal details to generate RRR</p>
            </div>
            <form action="" class="row g-3 needs-validation" novalidate method="POST">
                {% csrf_token %}
                <div class="col-12">
                    <input type="text" placeholder="Enter last name" name="last_name" class="form-control text-capitalize" id="lastName" required>
                    <div class="invalid-feedback">Please, enter your last name!</div>
                </div>

                <div class="col-12">
                    <input type="text" placeholder="Enter first name" name="first_name" class="form-control text-capitalize" id="firstName" required>
                    <div class="invalid-feedback">Please, enter your first name!</div>
                </div>

                <div class="col-12">
                    <input type="text" placeholder="Enter other name(optional)" name="other_name" class="form-control text-capitalize" id="otherName">
                </div>

                <div class="col-12">
                    <input type="email" placeholder="Enter a valid email address" name="email" class="form-control" id="yourEmail">
                </div>
                <div class="col-12">
                    <input type="tels" placeholder="Enter mobile number" name="mobile" class="form-control" id="yourEmail">
                </div>
                <div class="col-12">
                    <!-- <input class="form-control" type="text" id="" name="group" required> -->
                    <select name="group" class="form-control" required id="" aria-label="Default select example">
                        <option value="">--Select a class--</option>
                        {% for group in group %}
                        <option value="{{ group.group }}">{{ group.group }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Please, select a class</div>
                </div>
                <div class="col-12">
                    <select name="arm" class="form-control" required id="" aria-label="Default select example">
                        <option value="">--Select an arm--</option>
                        {% for arm in arm %}
                        <option value="{{ arm.arm }}">{{ arm.arm }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">Please, select a arm</div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Proceed to payment</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</section>
{% endblock content %}