{% extends 'lms/main.html' %}
{% block content %}
<section class="section register">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div>
                <h5 class="card-title text-center pb-0 fs-4">Select class</h5>
            </div>
            <form action="" class="row g-3 needs-validation" novalidate method="POST">
                {% csrf_token %}
                <div class="col-lg-12 col-md-12">
                    <select name="group" id="" class="form-control">
                        <option value="">--select class--</option>
                        {% for g in allgroup %}
                        <option value="{{g.ref}}">{{g.group}} {{g.arm}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <button name="submit" class="btn btn-primary w-100" type="submit">GET STUDENT</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</section>
{% endblock content %}