{% extends 'lms/main.html' %}
{% block content %}
<div class="pagetitle">
    <h1>Student</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">student</li>
      </ol>
    </nav>
</div><!-- End Page Title -->
<div>
    <h3 class="text-center">Manage Student</h3>
    <div>
        <table class="table">
            <tr>
                <td><a href="{% url 'register_student' %}">Add new students</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'switchsession' %}">Complete registration</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}