{% extends 'lms/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pagetitle">
    <h1>Manage Parent</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item">manage parent</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="{{ parent.passport.url }}" alt="Profile" class="rounded-circle">
                    <h2>{{parent.title}} {{parent.last_name}} {{parent.first_name}}</h2>
                    <h3>Parent</h3>
                    <div class="social-links mt-2">
                        <a href="{{parent.twitter}}" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="{{parent.facebook}}" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="{{parent.instagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="{{parent.linkedin}}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="{% url 'parent-get-parent-student' %}" role="button" class="btn btn-outline-primary btn-lg btn-block mb-2">Assign student</a>
                {% if parent.active %}
                <button type="button" class="btn btn-outline-danger btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#disable">Disable parent</button>
                {% else %}
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#enable">Enable parent</button>
                {% endif %}
                <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#reset">Reset password</button>
            </div>

            <div class="modal" id="disable">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Disable parent</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            Click proceed to disable this parent account
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a href="{% url 'parent-disable' parent.ref %}" class="btn btn-danger">Proceed</a>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="modal" id="enable">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Disable parent</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            Click proceed to enable this parent account
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a href="{% url 'parent-enable' parent.ref %}" class="btn btn-danger">Proceed</a>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="modal" id="reset">
                <div class="modal-dialog">
                    <div class="modal-content">
                
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Reset parent password</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            Click proceed to reset this parent password
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a href="{% url 'parent-reset' parent.ref %}" class="btn btn-danger">Proceed</a>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                        </li>
                        {% if user.profile.role.keyword == 'principal' or user.profile.role.keyword == 'vice_principal' or user.profile.role.keyword == 'admin' %}
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                        </li>
                        {% endif %}

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                <div class="col-lg-9 col-md-8">{{parent.title}} {{parent.last_name}} {{parent.first_name}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">ID Number</div>
                                <div class="col-lg-9 col-md-8">{{parent.unique_number}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Address</div>
                                <div class="col-lg-9 col-md-8">{{parent.address}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Mobile</div>
                                <div class="col-lg-9 col-md-8">{{parent.mobile}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Role</div>
                                <div class="col-lg-9 col-md-8">Parent</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">{{ parent.email }}</div>
                            </div>

                        </div>

                        {% if user.profile.role.keyword == 'principal' or user.profile.role.keyword == 'vice_principal' or user.profile.role.keyword == 'admin' %}
                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}

                                <div class="text-center my-2">
                                    <button name="submit1" type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>
                        {% endif %}

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}