{% extends 'frontpage/main.html' %}
{% load static %}
{% block content %}

<section id="contact">
    <div class="container-fluid">
        <div class="row contact-row">
            <div class="col-12">
                <p>Admission</p>
            </div>
        </div>
        <div class="underline-contact"></div>
    </div>
</section>


  <!--Picture-->
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'frontpage/images/galleryc.jpeg' %}" alt="" width="100%" style="height: 600px;" class="img-fluid">
        </div>
       
      </div>
  </div>
  <div>
    <h1 class="text-center">COMING SOON</h1>
  </div>
  
{% endblock content %}