{% extends 'lms/main.html' %}
{% block content %}
<section class="section registerr">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

            <!-- <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
            </div> -->
          <!-- End Logo -->

            <div>
                <h5 class="card-title text-center pb-0 fs-4">CHANGE PASSWORD</h5>
            </div>
            <form action="" class="row g-3 needs-validation" novalidate method="POST">
                {% csrf_token %}
                <div class="col-12">
                    <input type="password" placeholder="Current password" class="form-control my-2" name="pass0" required>
                    <input type="password" placeholder="New password" class="form-control my-2" name="pass1" required>
                    <input type="password" placeholder="Confirm new password" class="form-control my-2" name="pass2" required>
                    <button class="btn btn-primary btn-block" type="submit">Change password</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</section>
{% endblock content %}