{% extends "application/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h2 class="heading-section">Set a new password</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="login-wrap p-4 p-md-5">
            <form action="{% url 'apply' %}" method="POST" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button class="btn btn-outline-primary">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

