{% extends "application/base.html" %}
{% block content%}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h2 class="heading-section">Instruction</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="login-wrap p-4 p-md-5">
            <div class="alert alert-success">
                A mail has been sent to your registered mail with instruction to reset your password
            </div>
        </div>
    </div>
</div>
{% endblock content %}