{% extends 'lms/main.html' %}
{% block content %}
<section class="section register d-flex flex-column align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 d-flex flex-column align-items-center justify-content-center">

            <!-- <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
            </div> -->
          <!-- End Logo -->

            <div>
                <h5 class="card-title text-center pb-0 fs-4">Setup payment</h5>
                <p class="text-center small">Enter payment details</p>
            </div>
            {% for payment in payment %}
            <form action="" class="row g-3 needs-validation" novalidate method="POST">
                {% csrf_token %}
                <div class="col-12">
                    <input type="text" value="{{payment.payment}}" name="payment" class="form-control" readonly>
                </div>
                <div class="col-12">
                    <input type="number" value="{{payment.amount}}" placeholder="Enter amount" name="amount" class="form-control">
                </div>
                <div class="col-12">
                    <input type="text" value="{{payment.category}}" class="form-control" readonly>
                </div>
                <div class="col-12">
                    <button name="modify" class="btn btn-primary w-100" type="submit">Modify payment</button>
                </div>
            </form>
            {% endfor %}
        </div>
      </div>
    </div>
</section>
{% endblock content %}